<div class="my-3 col-md-6 m-auto">
    <div class="d-flex me-5">
        <div class="align-self-center p-2">
            <div class="align-middle fw-bold fs-5">Insert your expense here...</div>
        </div>
    </div>
</div>
<div class="col-md-6 m-auto">
    <form method="POST" action="/record">
        <div class="input-group my-2">
            <span class="input-group-text">Item</span>
            <input class="align-middle form-control ms-4" type="text" name="name" placeholder="Write new item here......"
                size="25" required>
        </div>
        <div class="input-group my-2">
            <span class="input-group-text">Date</span>
            <input class="align-middle form-control ms-4 me-4" type="date" name="date" 
                size="25" required>
        </div>
        <div class="input-group my-2">
            <span class="input-group-text">Category</span>
            <select class="form-select" type="text" name="categoryId" aria-label="Default select example" required>
                <option selected class="text-reset">Expense category</option>
                {{#each categorys}}
                <option value="{{this._id}}">{{this.name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="input-group my-2">
            <span class="input-group-text">Amount</span>
            <span class="input-group-text">$</span>
            <input class="align-middle form-control ms-1 me-4" type="number"  name="amount" min="1" size="25" required>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto bd-dark my-2">
            <button class="btn btn-outline-warning btn-sm align-middle" type="submit">Create</button>
        </div>
    </form>
</div>